html {
  overflow-y: auto;
}

.bidside-link {
  text-decoration: none !important;
  transition: $primary-transition;

  &-primary {
    color: $primary !important;

    &:hover {
      color: lighten($primary, 15%) !important;
    }
  }

  &-white {
    color: white !important;

    &:hover {
      color: darken(white, 15%) !important;
    }
  }
}
