html {
  overflow-y: auto;
}

// Hide input type="number" arrows
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.bidside-link {
  text-decoration: none !important;
  transition: $primary-transition;

  &-primary {
    color: $primary !important;

    &:hover {
      color: lighten($primary, 15%) !important;
    }
  }

  &-white {
    color: white !important;

    &:hover {
      color: darken(white, 15%) !important;
    }
  }
}
